/* --------------------------------------------------------
Style Sheet for Responsive Portfolio webiste

version: 1
last modified: 12/09/2020 by Matthew Petersen
author: Matthew Petersen

----------------------------------------------------------*/

body {
    background-image: linear-gradient(white, #343a40);
    background-size: 200%;
  }
  
h1 {
    font-family: "Courier New", Arial; 
    font-weight: bold;
  }
  
p {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

.cardtxt {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer {
    background-color: black;
}

div.card img{
   width: auto;
   height: 50%;

}
